################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ghost/v15
/.vs/GhostPlugin/DesignTimeBuild
/GhostPlugin/obj/Release
*.lock
